/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}



.blog-container {
    display: flex;
    padding: 20px;
}

.blog-post {
    flex: 2 2 calc(33.33% - 40px);
    max-width: calc(33.33% - 40px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.blogcard-link {
    text-decoration: none;
}

.img-blog {
    width: 100%;
    max-width: 30rem;
    height: auto;
    border-radius: 0.5rem;
}

.blog-info {
    padding: 15px;
}

.date-blog {
    font-size: 1rem;
    font-weight: bold;
}

.title-blog {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.subtitle-blog {
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .blog-post {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .title-blog {
        font-size: 1.3rem;
    }

    .subtitle-blog {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .blog-post {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    .blog-container {
        flex-direction: column;
    }

    .title-blog {
        font-size: 1.2rem;
    }

    .subtitle-blog {
        font-size: 0.9rem;
    }
}