.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 1rem;
    list-style-type: none;
    margin-right: 3rem;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

.home {
    text-decoration: none;
    color: white;
}

@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        align-items: center;

    }
}