.all-posts {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
}

.container-post {
    margin-left: 1rem;
}

@media (max-width: 480px) {
    .all-posts {
        flex-direction: column;
        gap: 0.5rem;
        align-items: stretch;
    }
}