.all-posts {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: bold;
    flex: 1;
    gap: 1rem;
    margin-left: 6rem;
    background-color: #0C1221;
    padding-top: 1rem;
    border-radius: 2rem;
    align-items: center;
    height: 32.5rem;
}