.all-posts {
    display: flex;
    flex-direction: row;
    /* Default to row on larger screens */
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
    /* Removed fixed height for better responsiveness */
}

.container-post {
    margin-left: 1rem;
}

@media (max-width: 480px) {
    .all-posts {
        flex-direction: column;
        gap: 0.5rem;
        /* Add some gap for mobile layout */
        align-items: stretch;
        /* Stretch items to full width */
    }
}